syntax enable


setlocal number

autocmd BufWritePre *.py normal m`:%s/\s\+$//e ``


let g:miniBufExplMapWindowNavVim = 1
let g:miniBufExplMapWindowNavArrows = 1
let g:miniBufExplMapCTabSwitchBufs = 1
let g:miniBufExplModSelTarget = 1

syntax on

map T :TaskList<CR>
map P :TlistToggle<CR>

